*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;

}

.container{
    max-width: 78vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    /* background-color: aqua; */
}

a{
    text-decoration: none;
}

.header_container{
    margin-bottom: 2.5rem;

}

.header_tittle{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header_decs{
    max-width: 568px;
    text-align: center;
    color: rgb(59, 51, 51);
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;

}

.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
}

@media(min-width:650px){
    .main_container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:1080px){
    .main_container{
        grid-template-columns: repeat(3, 1fr);
    }

    @media(min-width:1340px){
    .main_container{
        grid-template-columns: repeat(4, 1fr);
    }
}
.card_container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(101, 94, 94);
    border-radius: 8px;
}

.card_image_container{
    position: relative;
    overflow: hidden;
    height: 14rem;
}

.card_image{
    object-fit: cover;
    object-fit: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card_tittle_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;


}

.card_container :hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;

}

.card_tittle{
    font-size: 1rem;
    font-weight: 600;
     line-height: 1.rem;
    margin-bottom: 0.3rem;
    color: rgb(24, 23, 23);
   }
  .card_tittle_anchor:hover .card_tittle{
    color: rgb(42, 42, 232);

  }

  .card_desc{
    color: rgb(95, 90, 90);
    font-size: 1rem;
  }

  .card_footer_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5rem;
  }

  .author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .author_avatar_container img{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(116, 97, 97);
  }

  .author_info_container{
    display: flex;
    flex-direction: column;

  }

  .avatar_name{
    color: rgb(101, 101, 243);
  }

  .avatar_age{
    color: rgb(46, 41, 41);
  }

  .card_tag_container{
    font-size: 0.9rem;
    border: 1px solid rgb(72, 68, 68);
    border-radius: 2px;
    line-height: 1.2rem;
    padding: 0.25rem, 0.5rem;
    color: gray;




  }
